.addIngredientCard{
    width: 100%;
    .v-card__title{
        padding: 5px;
    }
    .row{
        margin: auto;
        .v-expansion-panels{
            padding: 5px;
        }
        .button-col-width{
            width: 50%;
        }
        .save-button-right{
            text-align: right;
        }
        .col{
            .saveButton{
                color: whitesmoke;
            }
            .cancelButton{
                color: whitesmoke;
            }
        }
    }
}