.addRecipeCard{
    width:100%;
    .v-card__title{
        padding: 5px;
    }
    .row{
        margin: auto;
        .v-expansion-panels{
            padding: 5px;
        }
    }
    .ingredient-col-center{
        display:flex;
        align-items: center;
    }
    .row{
        .save-button-right{
            text-align: right;
        }
        .button-col-width{
            width: 50%;
        }
        .col{
            // width: 50%;
            // .add-Recipe-Tag-Template-From-col{
            //     width:100%;
            // }
            .saveButton{
                color: whitesmoke;
            }
            .cancelButton{
                color: whitesmoke;
            }
        }
    }
}