.add-recipe-view{
    .row{
        margin: 0px;
        .col{
            padding: 0px;
        }
    }
    .addRecipeCard{
        width:100%;
        padding:5px;
        min-height: 100vh;
        .v-card__title{
            padding: 5px;
        }
        .row{
            margin: auto;
            .v-expansion-panels{
                padding: 5px;
            }
            .save-button-right{
                text-align: right;
            }
            .button-col-width{
                width: 50%;
            }
            .col{
                .saveButton{
                    color: whitesmoke;
                }
                .cancelButton{
                    color: whitesmoke;
                }
            }
        }
        .ingredient-col-center{
            display:flex;
            align-items: center;
        }
    }
}
