.addRecipeCard{
    width:100%;
    .v-card__title{
        padding: 5px;
    }
    .row{
        margin: auto;
        .v-expansion-panels{
            padding: 5px;
        }
    }
    
    .row{
        .col{
            width: 50%;
            .saveButton{
                color: whitesmoke;
            }
            .cancelButton{
                color: whitesmoke;
            }
        }
    }
}