$blue-color: #2196F3;
$green-color: rgb(23, 128, 58); ;
$grey-color: #8f9499;

.loginButton{
    background: $blue-color !important;
}

.cancelButton{
    background: $grey-color !important;
}

.saveButton{
    background: $green-color !important;
}

