$blue-color: #4ba4ec;
$green-color: rgb(27, 168, 74); ;
$grey-color: #c5ccd3;

.loginButton{
    background: $blue-color !important;
}

.cancelButton{
    background: $grey-color !important;
}

.saveButton{
    background: $green-color !important;
}

.addButton{
    background: $blue-color !important;
}

