/* Color Theme Swatches in RGBA */
.darkblue {background:  --cb-blue;}
.black {background-color: rgba(1, 34, 63, 1);}
.blue {background-color: rgba(2, 87, 140, 1);}
.green {background-color: rgba(38, 63, 1, 1);}
.orange {background-color: rgba(191, 133, 63, 1);}
.white {background-color: --cb-white;}
