.detail-ingredient-view{
        .row{
            margin: 0px;
            .col{
                padding: 0px;
            }
        }
        .ingredientDetailCard{
            width:100%;
            padding:5px;
            min-height: 100vh;
        }
}