.recipeDetailCard{
    width: 100%;
    padding: 5px;
    .v-card__title{
        padding: 5px;
    }
    .row{
        margin: auto;
        .v-expansion-panels{
            padding: 5px;
        }
        .right{
            float: right;
        }
    }
}