
body{
    font-family:Arial;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --cb-white: whitesmoke;
    --cb-blue: rgba(2, 76, 140, 1);
    --cb-error: rgba(145, 10, 10);
    --cb-warn: rgba(221, 218, 9);
    --cb-success: rgba(47, 129, 14);
}

