.nav-bar{
    .row{
        margin: 0px;
        .col{
            padding: 0 0 10px 0;
        }
    }
    .v-toolbar{
        color: whitesmoke;
        .v-toolbar__content
        {
            background: rgba(2, 76, 140, 1);
            color: whitesmoke;
            padding:12px;
        }    
        .v-icon{
            color: whitesmoke;
        }
        
        .v-btn {
            max-width: 28px;
            margin-right: 5px;
            color: whitesmoke;
            
        }
        .v-btn__content{
            max-width: 28px;
            color: whitesmoke;
        }    
    }
    .v-navigation-drawer__content{
        background: rgba(2, 76, 140, 1); 
        color: whitesmoke;
        .v-list-item__content{
            .nav-drawer-content-row{
                margin-top: 0px;
                .nav-drawer-content-row-col{
                    padding: 0px 0px 0px 12px;
                    .nav-drawer-content-username{
                        margin-left: 0px;
                        margin-bottom: 50px;
                        font-size: large;
                    }
                }
            }        
        }
        .v-list-item__title{
            margin-left: 10px;
        }
    }
}

